/*Body*/
body{
		/*para colocar una imagen de fondo*/
	background-image: url("../imagenes/amarillo.jpg");
	/*para que no se repita la imagen de fondo*/
	background-repeat: no-repeat;
	/*para ajustar el tamaño de la imagen*/
	background-size: 100% 100%;
	/*font-family es para el tipo de letra: si el 1ro no lo encuentra en el navegador, coloca el segundo, sino el tercero*/
	font-family: "Lucida Console", "Courier New", monospace;
	/*tamaño de letra*/
	font-size:40px;
	/*color de letra*/
	color:#2E6EB1;
	
}
hr{
	/*border es para la linea , tamaño en pixeles, tipo de linea y color*/
	border: 5px solid #2E6EB1;
	/*es para el terminado de las orillas
	el radio que tendra se expresa en pixeles*/
	border-radius: 5px;
}
p{
	/*para alinear el texto*/
	text-align: justify;
	font-size:20px;
	color: black;
}
table,tr,td{
	/*grosor y tipo de linea*/
	border:3px solid;
	/*color del borde*/
	border-color: black;
	/*alineacion del texto*/
	text-align: center;
	/*color del fondo*/
	background-color:#FCEB88;
}
th{
	background-color:#F9D027;
}
ul{
	/*tipo de viñeta*/
	list-style-type:circle;
	{}
	list-style-position:inside;
}

ol{
	
}
















